@import "mixins/mixins";

@import "variables/variables";

@import "objects/objects";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  position: relative;
}

h1 {
  text-align: center;
}


