/* line 4, ../sass/objects/shippicker/_shippicker.scss */
.ship-picker {
  display: none;
  width: 75%;
  margin: auto;
}

/* line 14, ../sass/objects/shippicker/_shippicker.scss */
.ship-list li {
  height: 1.5em;
  width: 90%;
  margin: 0.5em;
  border-bottom: 2px solid #3399FF;
  list-style: none;
}
/* line 21, ../sass/objects/shippicker/_shippicker.scss */
.ship-list li p {
  float: left;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
/* line 28, ../sass/objects/shippicker/_shippicker.scss */
.ship-list li .remove {
  display: inline-block;
  float: right;
  width: 15px;
  font-weight: bold;
  color: red;
}

/* line 40, ../sass/objects/shippicker/_shippicker.scss */
p.inactive, button.inactive {
  background-color: gray;
}

/* line 45, ../sass/objects/shippicker/_shippicker.scss */
.ship-choices {
  width: 100%;
}

/* line 50, ../sass/objects/shippicker/_shippicker.scss */
.ship-choice {
  display: inline-block;
  width: 125px;
  height: 50px;
  padding: 1em;
  background-color: #3399FF;
  border-radius: 20px;
  text-align: center;
  vertical-align: middle;
}

/* line 68, ../sass/objects/shippicker/_shippicker.scss */
.build-fleet, .button-wrapper {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* line 75, ../sass/objects/shippicker/_shippicker.scss */
button {
  width: 200px;
  height: 75px;
  font-size: 1.3em;
  background-color: #297ACC;
  border: 0 none;
  border-radius: 20px;
  text-align: center;
}

/* line 1, ../sass/objects/shippicker/_shipplacer.scss */
.ship-placer {
  display: none;
}
/* line 4, ../sass/objects/shippicker/_shipplacer.scss */
.ship-placer .board {
  display: inline-block;
  margin-left: 440px;
}
/* line 9, ../sass/objects/shippicker/_shipplacer.scss */
.ship-placer .board .potential {
  background-color: red;
}
/* line 13, ../sass/objects/shippicker/_shipplacer.scss */
.ship-placer .board .placed {
  background-color: red;
}

/* line 19, ../sass/objects/shippicker/_shipplacer.scss */
.ships-to-place {
  float: right;
  display: inline-block;
  width: 250px;
}
/* line 24, ../sass/objects/shippicker/_shipplacer.scss */
.ships-to-place ul {
  list-style: none;
}
/* line 27, ../sass/objects/shippicker/_shipplacer.scss */
.ships-to-place ul li {
  width: 150px;
  height: 50px;
  margin-bottom: 1.5em;
  background-color: #3399FF;
  text-align: center;
  vertical-align: middle;
}
/* line 35, ../sass/objects/shippicker/_shipplacer.scss */
.ships-to-place ul li.active {
  background-color: green;
}
/* line 39, ../sass/objects/shippicker/_shipplacer.scss */
.ships-to-place ul li.inactive {
  background-color: gray;
}

/* line 1, ../sass/objects/board/_size.scss */
.single-board-wrap {
  width: 440px;
  height: auto;
  display: inline-block;
}
/* line 6, ../sass/objects/board/_size.scss */
.single-board-wrap:nth-of-type(1) {
  float: left;
}
/* line 10, ../sass/objects/board/_size.scss */
.single-board-wrap:nth-of-type(2) {
  float: right;
}
/* line 14, ../sass/objects/board/_size.scss */
.single-board-wrap h2 {
  text-align: center;
}

/* line 20, ../sass/objects/board/_size.scss */
.board-wrap {
  width: 960px;
  height: auto;
  margin-left: 80px;
  float: left;
  overflow: hidden;
}

/* line 29, ../sass/objects/board/_size.scss */
.board {
  position: relative;
  width: 440px;
  height: 440px;
}

/* line 38, ../sass/objects/board/_size.scss */
.playable-area {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 400px;
  height: 400px;
}
/* line 48, ../sass/objects/board/_size.scss */
.playable-area .tile:first-child {
  border-top-left-radius: 25px;
}
/* line 52, ../sass/objects/board/_size.scss */
.playable-area .tile:nth-child(10) {
  border-top-right-radius: 25px;
}
/* line 56, ../sass/objects/board/_size.scss */
.playable-area .tile:nth-child(91) {
  border-bottom-left-radius: 25px;
}
/* line 60, ../sass/objects/board/_size.scss */
.playable-area .tile:nth-child(100) {
  border-bottom-right-radius: 25px;
}

/* line 70, ../sass/objects/board/_size.scss */
.tile {
  width: 40px;
  height: 40px;
  float: left;
  text-align: center;
  font-size: 2em;
}

/* line 80, ../sass/objects/board/_size.scss */
.row-label {
  position: absolute;
  top: 40px;
  left: 0px;
  height: 400px;
  width: 40px;
  overflow: hidden;
}

/* line 89, ../sass/objects/board/_size.scss */
.column-label {
  position: absolute;
  top: 0px;
  left: 40px;
  height: 40px;
  width: 400px;
  overflow: hidden;
}

/* line 98, ../sass/objects/board/_size.scss */
.clear {
  clear: both;
}

/* line 3, ../sass/objects/board/_color.scss */
.playable-area .tile {
  background-color: #3399FF;
  border: 2px solid #297ACC;
}

/* line 13, ../sass/objects/board/_color.scss */
.board .ship.hit {
  background-color: #CC0000;
}
/* line 17, ../sass/objects/board/_color.scss */
.board .miss {
  background-color: #0033CC;
}

/* line 26, ../sass/objects/board/_color.scss */
.human-board .ship {
  background-color: gray;
}

/* line 32, ../sass/objects/board/_color.scss */
.hit {
  background-color: red;
}

/* line 5, ../sass/objects/board/_board.scss */
.game-area {
  display: none;
}

/* line 1, ../sass/objects/infoarea/_infoarea.scss */
.info-area {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  margin-top: 0em;
}
/* line 12, ../sass/objects/infoarea/_infoarea.scss */
.info-area h2 {
  font-size: 1em;
  margin-top: 0.5em;
  text-transform: uppercase;
  text-align: center;
}

/* line 1, ../sass/objects/infoarea/_scoreboard.scss */
.scoreboard {
  height: 300px;
  padding-left: 1em;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: bold;
}

/* line 17, ../sass/objects/infoarea/_scoreboard.scss */
.hitpoint {
  width: 20px;
  height: 15px;
  margin-right: 5px;
  border: 1px solid black;
  border-radius: 60%;
  display: inline-block;
}

/* line 1, ../sass/objects/infoarea/_gamelog.scss */
.gamelog-container {
  width: 250px;
  height: 225px;
}

/* line 7, ../sass/objects/infoarea/_gamelog.scss */
.gamelog {
  width: 250px;
  height: 220px;
  padding: .5em;
  margin-top: 0em;
  overflow-y: auto;
  float: right;
  font-size: 1em;
  font-weight: bold;
  border-radius: 5px;
}

/* line 2, ../sass/objects/stats/_stats.scss */
.stats-area h2 {
  color: #E6E6E6;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 3px 3px #000;
}

/* line 11, ../sass/objects/stats/_stats.scss */
.player-stats {
  width: 45%;
  display: inline-block;
  background-color: #3399FF;
  margin-left: 2em;
  border-radius: 25px;
  border: 3px solid #297ACC;
  padding: 1em;
}
/* line 21, ../sass/objects/stats/_stats.scss */
.player-stats h3 {
  text-align: center;
  text-transform: uppercase;
}

/* line 7, ../sass/battleship.scss */
html {
  box-sizing: border-box;
}

/* line 11, ../sass/battleship.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 15, ../sass/battleship.scss */
body {
  position: relative;
  background-color: #D6F5FF;
  font-family: "Open Sans";
}

/* line 21, ../sass/battleship.scss */
h1 {
  text-align: center;
  margin-bottom: 1em;
}

/* line 26, ../sass/battleship.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Press Start 2P";
}
