.board-wrap {
  margin-left: $board_margin * 1px;
  //margin-right: auto;
  width: (($board_size * 2) + $board_margin) * 1px;
  height: auto;
  overflow: hidden;
}

.board:first-child {
  float: left;
}

.board:nth-child(2) {
  float: right;
}

.board {
  position: relative; 
  width: ($tile_size + ($tile_size * 10)) * 1px;
  height: ($tile_size + ($tile_size * 10)) * 1px;
}

.game-area {
  position: absolute;
  top: $tile_size * 1px;
  left: $tile_size * 1px;

  width: ($tile_size * 10) * 1px;
  height: ($tile_size * 10) * 1px;

    .tile {

      &:first-child {
        border-top-left-radius: $board_border_radius;      
      }

      &:nth-child(10) {
        border-top-right-radius: $board_border_radius;      
      }

      &:nth-child(91) {
        border-bottom-left-radius: $board_border_radius;        
      }

      &:nth-child(100) {
        border-bottom-right-radius: $board_border_radius;        
      }


    }


}

.tile {
  width: $tile_size * 1px;
  height: $tile_size * 1px;
  float: left;

  text-align: center;
  font-size: 2em;

}

.row-label {
  position: absolute;
  top: $tile_size * 1px;
  left: 0px;
  height: $tile_size * 10 * 1px;
  width: $tile_size * 1px;
  overflow: hidden;
}

.column-label {
  position: absolute;
  top: 0px;
  left: $tile_size * 1px;
  height: $tile_size * 1px;
  width: $tile_size * 10 * 1px;
  overflow: hidden;
}

.clear {
  clear: both;
} 