// FIX CSS SPECIFICITY ISSUE W/ INACTIVE CLASS AND BUTTONS  


.ship-picker {
  width: 75%;
  margin: auto;
}



.ship-list {

  li {
    height: 1.5em;
    width: 90%;
    margin: 0.5em;
    border-bottom: 2px solid $board-color;
    list-style: none;

    p {
      float: left;
      margin-top: 0;
      margin-bottom: 0;
      padding: 0;
    }

    .remove {
      display: inline-block;
      float: right;
      width: 15px;
      font-weight: bold;
      color: red;
    }
  }
}



p.inactive, button.inactive {
  background-color: gray;
}


.ship-choices {
  width: 100%;

}

.ship-choice {
  display: inline-block;
  width: 125px;
  height: 50px;
  padding: 1em;

  background-color: $board-color;
  border-radius: 20px;
  
  
  text-align: center;
  vertical-align: middle;

    // &.inactive {
    //   background-color: gray;
    // } 
}

.build-fleet {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}    

  
  button {
    width: 200px;
    height: 75px;
    font-size: 1.3em;
    background-color: $board_border_color;
    border: 0 none;
    border-radius: 20px;
    text-align: center;

    // &.inactive {
    //   background-color: gray;
    // }
}
