.ship-placer {
  display: none;

  .board {
    
    display: inline-block;
    margin-left: $board_size * 1px;

    .potential {
      background-color: red;
    }
  }
}

.ships-to-place {
  float: right;
  display: inline-block;
  width: 250px;

  ul {
    list-style: none;

    li {
      width: 150px;
      height: 50px;
      margin-bottom: 1.5em;
      background-color: $board_color;
      text-align: center;
      vertical-align: middle;

      &.active {
        background-color: green;
      }
    }
  }
}