.scoreboard {
  height: 300px;
  padding-left: 1em; 
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: bold;
}

.hitpoint {
  width: 20px;
  height: 15px;
  margin-right: 5px;
  border: 1px solid black;
  border-radius: 60%;
  display: inline-block;
}
